<p id="notice"><%= notice %></p>
<h2><%= @subject.title %></h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Full journal title</th>
      <th>Jcr abbreviated title</th>
      <th>Issn</th>
      <th>Total cites</th>
      <th>Journal impact factor</th>
      <th>Impact factor without journal self cites</th>
      <th>Five years impact factor</th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.rank %></td>
        <td><%=link_to journal.full_journal_title, subject_journal_path(journal.subject.id, journal) %></td>
        <td><%= journal.jcr_abbreviated_title %></td>
        <td><%= journal.issn %></td>
        <td><%= journal.total_cites %></td>
        <td><%= journal.journal_impact_factor %></td>
        <td><%= journal.impact_factor_without_journal_self_cites %></td>
        <td><%= journal.five_years_impact_factor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<%= paginate @journals %>
</div>
